### Exercise
- #### Load heart disease dataset in pandas dataframe
- #### Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
- #### Convert text columns to numbers using label encoding and one hot encoding
- #### Apply scaling
- #### Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy
- #### Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. Keep in mind that many times doing PCA reduces the accuracy but computation is much lighter and that's the trade off you need to consider while building models in real life

In [117]:
import pandas as pd

In [118]:
df = pd.read_csv('csv/heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [119]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [120]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [121]:
df = df[df.RestingBP <= (df.RestingBP.mean() + 3 * df.RestingBP.std())]
df = df[df.RestingBP >= (df.RestingBP.mean() - 3 * df.RestingBP.std())]

In [122]:
df.shape

(910, 12)

In [123]:
df = df[df.Cholesterol <= (df.Cholesterol.mean() + 3 * df.Cholesterol.std())]
df = df[df.Cholesterol >= (df.Cholesterol.mean() - 3 * df.Cholesterol.std())]

In [124]:
df.shape

(907, 12)

In [125]:
df = df[df.FastingBS <= (df.FastingBS.mean() + 3 * df.FastingBS.std())]
df = df[df.FastingBS >= (df.FastingBS.mean() - 3 * df.FastingBS.std())]

In [126]:
df.shape

(907, 12)

In [127]:
df = df[df.MaxHR <= (df.MaxHR.mean() + 3 * df.MaxHR.std())]
df = df[df.MaxHR >= (df.MaxHR.mean() - 3 * df.MaxHR.std())]

In [128]:
df.shape

(906, 12)

In [129]:
df = df[df.Oldpeak <= (df.Oldpeak.mean() + 3 * df.Oldpeak.std())]
df = df[df.Oldpeak >= (df.Oldpeak.mean() - 3 * df.Oldpeak.std())]

In [130]:
df.shape

(899, 12)

In [131]:
df.Sex.unique()

array(['M', 'F'], dtype=object)

In [132]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [133]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [134]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [135]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [136]:
from sklearn.preprocessing import LabelEncoder

In [137]:
le = LabelEncoder()

In [138]:
df.Sex = le.fit_transform(df.Sex)
df.ChestPainType = le.fit_transform(df.ChestPainType)
df.RestingECG = le.fit_transform(df.RestingECG)
df.ExerciseAngina = le.fit_transform(df.ExerciseAngina)
df.Oldpeak = le.fit_transform(df.Oldpeak)
df.ST_Slope = le.fit_transform(df.ST_Slope)

In [139]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,9,2,0
1,49,0,2,160,180,0,1,156,0,19,1,1
2,37,1,1,130,283,0,2,98,0,9,2,0
3,48,0,0,138,214,0,1,108,1,24,1,1
4,54,1,2,150,195,0,1,122,0,9,2,0

In [140]:
from sklearn.preprocessing import StandardScaler

In [141]:
scaler = StandardScaler()

In [142]:
X = df.drop(['HeartDisease'], axis = 1)
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,9,2
1,49,0,2,160,180,0,1,156,0,19,1
2,37,1,1,130,283,0,2,98,0,9,2
3,48,0,0,138,214,0,1,108,1,24,1
4,54,1,2,150,195,0,1,122,0,9,2

In [143]:
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42815446,  0.515943  ,  0.2245723 , ..., -0.8229452 ,
        -0.87965089,  1.04249607],
       [-0.47585532, -1.93819859,  1.27063705, ..., -0.8229452 ,
         0.145905  , -0.62216462],
       [-1.7455875 ,  0.515943  ,  0.2245723 , ..., -0.8229452 ,
        -0.87965089,  1.04249607],
       ...,
       [ 0.3706328 ,  0.515943  , -0.82149245, ...,  1.21514774,
         0.35101618, -0.62216462],
       [ 0.3706328 , -1.93819859,  0.2245723 , ..., -0.8229452 ,
        -0.87965089, -0.62216462],
       [-1.63977649,  0.515943  ,  1.27063705, ..., -0.8229452 ,
        -0.87965089,  1.04249607]])

In [144]:
y = df['HeartDisease']
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 899, dtype: int64

In [145]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [146]:
model_params = {
    'svm': {
        'model': svm.SVC(gamma = 'auto'),
        'params' : {
            'C': [1, 10, 20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1, 5, 10, 20, 30]
        }
    },
    'logistic_regression': {
        'model': LogisticRegression(solver = 'liblinear', multi_class = 'auto'),
        'params': {
            'C': [1, 5, 10]
        }
    }
}

In [147]:
from sklearn.model_selection import GridSearchCV

In [148]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv = 5, return_train_score = False)
    clf.fit(X_scaled, y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
result = pd.DataFrame(scores, columns = ['model','best_score','best_params'])
result

                 model  best_score                best_params
0                  svm    0.826394  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.818616       {'n_estimators': 30}
2  logistic_regression    0.804159                   {'C': 1}

In [149]:
from sklearn.decomposition import PCA

In [150]:
pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca.shape

(899, 2)

In [151]:
X_pca

array([[ 93.114571  , -30.36688761],
       [-16.33516475, -14.45766136],
       [ 82.65423712,  37.72174096],
       ...,
       [-68.22049266,  17.94622076],
       [ 40.01227351, -34.11946348],
       [-20.62611904, -38.25511796]])

In [152]:
from sklearn.model_selection import cross_val_score

In [153]:
scores = cross_val_score(svm.SVC(C = 1, kernel = 'rbf'), X_pca, y, cv = 5)

In [156]:
scores.mean()

0.6906828057107387