### Exercise:
- #### Load heart disease dataset in pandas dataframe
- #### Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
- #### Convert text columns to numbers using label encoding and one hot encoding
- #### Apply scaling
- #### Build a classification model using support vector machine. Use standalone model as well as Bagging model and check if you see any difference in the performance.
- #### Now use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance
- #### Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why. Use internet to figure out in what conditions bagging works the best.

In [105]:
import pandas as pd

In [106]:
df = pd.read_csv('csv/heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [107]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [108]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [109]:
df = df[df.RestingBP <= (df.RestingBP.mean() + 3 * df.RestingBP.std())]
df = df[df.RestingBP >= (df.RestingBP.mean() - 3 * df.RestingBP.std())]

In [110]:
df.shape

(910, 12)

In [111]:
df = df[df.Cholesterol <= (df.Cholesterol.mean() + 3 * df.Cholesterol.std())]
df = df[df.Cholesterol >= (df.Cholesterol.mean() - 3 * df.Cholesterol.std())]

In [112]:
df.shape

(907, 12)

In [113]:
df = df[df.FastingBS <= (df.FastingBS.mean() + 3 * df.FastingBS.std())]
df = df[df.FastingBS >= (df.FastingBS.mean() - 3 * df.FastingBS.std())]

In [114]:
df.shape

(907, 12)

In [115]:
df = df[df.MaxHR <= (df.MaxHR.mean() + 3 * df.MaxHR.std())]
df = df[df.MaxHR >= (df.MaxHR.mean() - 3 * df.MaxHR.std())]

In [116]:
df.shape

(906, 12)

In [117]:
df.Sex.unique()

array(['M', 'F'], dtype=object)

In [118]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [119]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [120]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [121]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [122]:
from sklearn.preprocessing import LabelEncoder

In [123]:
le = LabelEncoder()

In [124]:
df.Sex = le.fit_transform(df.Sex)
df.ChestPainType = le.fit_transform(df.ChestPainType)
df.RestingECG = le.fit_transform(df.RestingECG)
df.ExerciseAngina = le.fit_transform(df.ExerciseAngina)
df.Oldpeak = le.fit_transform(df.Oldpeak)
df.ST_Slope = le.fit_transform(df.ST_Slope)

In [125]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,10,2,0
1,49,0,2,160,180,0,1,156,0,20,1,1
2,37,1,1,130,283,0,2,98,0,10,2,0
3,48,0,0,138,214,0,1,108,1,25,1,1
4,54,1,2,150,195,0,1,122,0,10,2,0

In [126]:
from sklearn.preprocessing import StandardScaler

In [127]:
scaler = StandardScaler()

In [128]:
X = df.drop(['HeartDisease'], axis = 1)
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,10,2
1,49,0,2,160,180,0,1,156,0,20,1
2,37,1,1,130,283,0,2,98,0,10,2
3,48,0,0,138,214,0,1,108,1,25,1
4,54,1,2,150,195,0,1,122,0,10,2

In [129]:
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.43268734,  0.51513409,  0.22715383, ..., -0.8232726 ,
        -0.87146365,  1.04605981],
       [-0.47787471, -1.94124214,  1.27183082, ..., -0.8232726 ,
         0.12305212, -0.60503808],
       [-1.75095822,  0.51513409,  0.22715383, ..., -0.8232726 ,
        -0.87146365,  1.04605981],
       ...,
       [ 0.37084763,  0.51513409, -0.81752317, ...,  1.2146645 ,
         0.32195527, -0.60503808],
       [ 0.37084763, -1.94124214,  0.22715383, ..., -0.8232726 ,
        -0.87146365, -0.60503808],
       [-1.64486793,  0.51513409,  1.27183082, ..., -0.8232726 ,
        -0.87146365,  1.04605981]])

In [130]:
y = df['HeartDisease']
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 906, dtype: int64

In [131]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [132]:
scores = cross_val_score(DecisionTreeClassifier(), X, y, cv = 5)
scores

array([0.79120879, 0.72928177, 0.79005525, 0.75138122, 0.67403315])

In [133]:
scores.mean()

0.7471920344848522

In [134]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify = y, random_state = 10)

In [135]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100, 
    max_samples = 0.8, 
    oob_score = True,
    random_state = 0
)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.8483063328424153

In [136]:
bag_model.score(X_test, y_test)

0.8810572687224669

In [137]:
from sklearn.svm import SVC

In [138]:
scores = cross_val_score(SVC(C = 1, kernel = 'rbf'), X, y, cv = 5)
scores

array([0.6978022 , 0.85082873, 0.73480663, 0.75690608, 0.70165746])

In [139]:
scores.mean()

0.7484002185659645

In [140]:
bag_model = BaggingClassifier(
    estimator = SVC(),
    n_estimators = 100, 
    max_samples = 0.8, 
    oob_score = True,
    random_state = 0
)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.8645066273932254

In [141]:
bag_model.score(X_test, y_test)

0.8898678414096917